PORT=3000
GUI_HOST=127.0.0.1
ALLOW_PRIVATE_NETWORK_TARGETS=false
SCRAPE_TIMEOUT_MS=15000
SCRAPE_MAX_RESPONSE_BYTES=5242880
SCRAPE_RETRY_ATTEMPTS=0
SCRAPE_RETRY_DELAY_MS=0
SCRAPE_PAGE_DELAY_MS=0
SCRAPE_FAIL_ON_PAGE_ERROR=false
MAX_JOB_EVENTS=1000
JOB_TTL_MS=600000
